<div class="productListContainer">
    {% for product in session.cart %}
    <a href="/product/index/?id={{ product['id'] }}">
        <figure class="product">
            <img src="{{ product['image'] }}" alt="product" width="200">
            <figcaption class="product_caption">
                <h3 class="product_name">{{ product['name'] }}</h3>
                <h4 class="product_price">{{ product['quantity'] }} x ${{ product['price'] }} =
                    ${{ product['price'] * product['quantity']}}</h4>
            </figcaption>
        </figure>
    </a>
    {% endfor %}
</div>