<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
</head>
<body>

<header>
    {% block nav %}
        <div class="menu-wrap">
            <a class="control {{ hide.main }}" href="/index/index/">Главная страница</a>
            <a class="control {{ hide.products }}" href="/products/index/">Каталог товаров</a>
            <a class="control {{ hide.login }}" href="/user/login/">Войти</a>
            <a class="control {{ hide.profile }}" href="/user/profile/">Личный кабинет</a>
            <a class="control {{ hide.reg }}" href="/user/registerUser/">Регистрация</a>
            <a class="control cart-btn {{ hide.cart }}" href="/cart/showCartContent/">Корзина
                <div class="cart-hint-btn">{{ session.cartQuantity }}<span class="cart-hint-span">(${{ session.cartPrice }})</span></div>
            </a>
            <a class="control cart-btn {{ hide.order }}" href="/user/orderer/">Оформить заказ</a>
            <a class="control {{ hide.logout }}" href="/user/logout/">Выйти</a>
        </div>
    {% endblock %}
</header>

<h1>{{ title }}</h1>

{% block body %}
    <h2>Новости:</h2>
    <ol>
        <li>Резко сокрашено колличество html в контролере пользователя, перенесен в шаблон (было замечание)</li>
        <li>Плавный переход на использование свойства $app->session вместо обращения к глобальному массиву $_SESSION</li>
        <li>Оптимизация шаблонов на отображение/скрытие заголовков в зависимости от наличия контента</li>
        <li>Добавлена регистрация пользователей</li>
    </ol>
{% endblock %}

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/async.js"></script>
</body>
</html>