<div class="order-row">
    <div class="order-col"><img src="{{ img }}" alt="img" width="50">&nbsp;{{ name }}</div>
    <div class="order-col">${{ price }}</div>
    <div class="order-col">{{ amount }}</div>
    <div class="order-col">${{ sum }}</div>
</div>