{% extends "index.twig" %}

{% block body %}
<div class="content">
    <div class="product-description-wrap">
        <img src="{{ product['image'] }}" alt="картинка">
        <div class="product-description">
            <div class="product-name">
                <h1>{{ product['name'] }}</h1>
            </div>
            <div class="product-name">
                <h4>{{ product['description'] }}</h4>
            </div>
            <div class="product-name">
                <h1>${{ product['price'] }}</h1>
            </div>
        </div>
        <div class="cart-hint-wrapper">
            <div class="cart-hint-control add" data-id="{{ product['id'] }}">+</div>
            <div class="cart-hint-control remove" data-id="{{ product['id'] }}">-</div>
        </div>
    </div>
</div>
    {% if session.login.role == 1 %}
        <h3>Администрирование товара</h3>
        <a class="control" href="/product/createProduct/">новый&nbsp</a>
        <a class="control" href="/product/updateProduct/?id={{ product['id'] }}">изменить&nbsp</a>
        <a class="control" href="/product/deleteProduct/?id={{ product['id'] }}">удалить&nbsp</a>
    {% endif %}
{% endblock %}